// define your bones color palette:
$bones-primary-color    : #333;
$bones-secondary-color  : #666;
$bones-tertiary-color   : $bones-secondary-color;
$bones-quaternary-color : $bones-secondary-color;
$bones-quinary-color    : $bones-secondary-color;
$bones-dark-gray        : #333;
$bones-medium-gray      : #aaa;
$bones-light-gray       : #e6e6e6;
$bones-primary-font     : "Lato-Light", 'Lato', Helvetica, Arial, sans-serif;
$bones-secondary-font   : "Lato-Light", 'Lato', Helvetica, Arial, sans-serif;

